<div>
  <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
  <div>
    <mat-dialog-content *ngIf="!isLoading" class="mat-typography">
      <!-- <h4>Select a Budget Category:</h4> -->
      <h3 *ngIf="edit">Edit Budget</h3>
      <h3 *ngIf="!edit">Add Budget</h3>
      <form novalidate [formGroup]="addBudgetForm" #addbudgetform="ngForm" (ngSubmit)="onFormConfirmed()" fxLayout="column">
        <p>
          <mat-form-field style="margin-left: 10px;">
            <mat-label>Budget Category</mat-label>
            <mat-select formControlName="category" [errorStateMatcher]="matcher" required> 
              <mat-option *ngFor="let category of categories | keyvalue" (click)="firstOpSelected($event.target.innerHTML)" [value]="category.key">
                {{category.key}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="formErrors.category">{{formErrors.category}}</mat-error> -->
            <mat-error *ngIf="addBudgetForm.get('category').hasError('required')">Category is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field *ngIf="firstSelected" style="margin-left: 10px;">
            <mat-label>Budget Subcategory</mat-label>
            <mat-select formControlName="category2"> 
              <mat-option *ngFor="let category of categories2 | keyvalue" (click)="secondOpSelected($event.target.innerHTML)" [value]="category.key">
                {{category.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field *ngIf="secondSelected" style="margin-left: 10px;">
            <mat-label>Budget Subcategory</mat-label>
            <mat-select formControlName="category3"> 
              <mat-option *ngFor="let category of categories3 | keyvalue" (click)="thirdOpSelected($event.target.innerHTML)" [value]="category.key">
                {{category.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          $ 
          <mat-form-field>
            <mat-label>Budget Amount</mat-label>
            <input matInput formControlName="amount" type="number" required>
            <!-- <mat-error *ngIf="formErrors.amount">{{formErrors.amount}}</mat-error> -->
            <mat-error *ngIf="addBudgetForm.get('amount').hasError('required')">Amount is required.</mat-error>
            <mat-error *ngIf="addBudgetForm.get('amount').hasError('min')">Amount must be greater than or equal to {{minVal}}</mat-error>
            <mat-error *ngIf="addBudgetForm.get('amount').hasError('max')">Amount must be less than or equal to {{maxVal}}</mat-error>
          </mat-form-field>
        </p>
        <span>Min Amount: {{this.minVal}}</span>
        <span>Max Amount: {{this.maxVal}}</span>
        <button mat-button *ngIf="!edit" id="addbutton" [disabled]="addBudgetForm.invalid" type="button" class="mat-primary" (click)="onFormConfirmed()" cdkFocusInitial>Add Budget</button>
        <button mat-button *ngIf="edit" id="editbutton" [disabled]="addBudgetForm.invalid" type="button" class="mat-primary" (click)="onFormConfirmed()" cdkFocusInitial>Edit Budget</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </form>
      <!-- <mat-form-field style="margin-left: 10px;">
        <mat-label>Budget Category</mat-label>
        <mat-select>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <span>$ </span>
      <mat-form-field>
        <mat-label>Budget Amount</mat-label>
        <input matInput>
      </mat-form-field> -->
    </mat-dialog-content>
    <!-- <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [disabled]="addBudgetForm.invalid" type="submit" class="mat-primary" cdkFocusInitial>Add Budget</button>
    </mat-dialog-actions> -->
  </div>
</div>
