<div>
  <mat-card style="max-width: 500px; margin: auto; margin-top: 50px;">
    <mat-card-title fxLayoutAlign="center">Create Account</mat-card-title>
    <form style="max-width: 500px" novalidate [formGroup]="createAccountForm" #createaccountform="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
      <p>
        <mat-form-field fxLayoutAlign="center">
          <input matInput formControlName="email" placeholder="Email" type="text" required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxLayoutAlign="center">
          <input matInput formControlName="password" placeholder="Password" type="text" required>
          <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxLayoutAlign="center">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxLayoutAlign="center">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.password">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxLayoutAlign="center">
          <input matInput formControlName="username" placeholder="Username" type="text" required>
          <mat-error *ngIf="formErrors.password">{{formErrors.username}}</mat-error>
        </mat-form-field>
      </p>
      <div fxLayoutAlign="center">
        <button style="background-color:lightgrey; margin: auto;" type="submit"
         mat-button [disabled]="createAccountForm.invalid">Create Account</button>
      </div>
      <p></p>
      <div fxLayoutAlign="center">
        <button style="background-color:lightgrey; margin: auto;" type="submit"
         mat-button routerLink='/login'>Cancel</button>
      </div>
    </form>
  </mat-card>
</div>
