<div>
  <p>Header stuff goes here</p>
</div>
<div fxLayout.lt-md="column">
  <!-- <div fxFlex='1'></div> -->
  <div fxFlex='50' class="mainPanels">
    <p>Graph goes here</p>
    <div>
      <div class="visBox"> 

      </div>
    </div>
  </div>
  <!-- <div fxFlex='1'></div> -->
  <div fxFlex='50' class="mainPanels">
    <p>Budgets go here</p>
    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div> 
      <mat-accordion class="example-headers-align" multi>
        <div class="budgetList">
          <mat-expansion-panel *ngFor="let test of tests">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Personal data
              </mat-panel-title>
              <mat-panel-description>
                Type your name and age
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput type="number" min="1">
            </mat-form-field>
        
          </mat-expansion-panel>
        </div>
      </mat-accordion>
  </div>
  <!-- <div fxFlex='1'></div> -->
</div>
