<span id="moveTop"></span>
<div style="height: 75px;"></div>
<div style="max-width: 1400px; margin: auto" [ngStyle.lt-md]="{'margin': 'auto', 'max-width': '693px'}">
  <!-- <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner> -->
  <div *ngIf="userAccountsDetails.accounts.length == 0">
    <p style="text-align: center;">No accounts added! Please add an account to see budgets</p>
  </div>
  <div *ngIf="itemsDetails.validRes != null" style="text-align: center;">
    <p>There are invalid credentials or an expired account token for 1 or more of your accounts!</p> 
    <p>Please reauthenticate the accounts on the home page to gain back functionality.</p>
  </div>
  <!-- <mat-spinner *ngIf="initialLoad" style="margin: auto;"></mat-spinner> -->
  <div [hidden]="initialLoad || userAccountsDetails.accounts.length == 0 || this.userAccountsDetails.currentAccounts.length == 0 || itemsDetails.validRes != null">
    <!-- <div fxLayoutAlign="center bottom">
      <mat-form-field>
        <mat-label>From:</mat-label>
        <mat-select id="from" #from> 
          <mat-option *ngFor="let month of fromMonths" [value]="month">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-left: 10px;">
        <mat-label>To:</mat-label>
        <mat-select id="to" #to> 
          <mat-option *ngFor="let month of toMonths" [value]="month">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <div fxLayout.lt-md="column">
      <!-- <div fxFlex='1'></div> -->
      <div fxFlex='50' class="mainPanels">
        <h2>Trends:</h2>
        <span fxShow="true" fxHide.lt-md="true">Showing data from:</span>
        <p fxHide="true" fxShow.lt-md="true"> Showing data from:</p>
        <!-- <span> Showing data from:</span> -->
        <mat-form-field style="margin-left: 10px; margin-right: 5px;">
          <mat-label>From:</mat-label>
          <mat-select id="from" #from> 
            <mat-option *ngFor="let month of fromMonths" [value]="month">
              {{month}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span><b>-</b></span>
        <mat-form-field style="margin-left: 10px;">
          <mat-label>To:</mat-label>
          <mat-select id="to" #to> 
            <mat-option *ngFor="let month of toMonths" [value]="month">
              {{month}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
        <div *ngIf="!isLoading">
          <h3 *ngIf="(totalBudgetedExpenses / (totalBudget * totalMonthsActive)) >= 1" style="color: red;">
            <span style="color: black;">Budgeted Expenses: </span>$ {{totalBudgetedExpenses}} / {{(totalBudget * totalMonthsActive)}}
          </h3>
          <h3 *ngIf="!((totalBudgetedExpenses / (totalBudget * totalMonthsActive)) >= 1) && (totalBudgetedExpenses / (totalBudget * totalMonthsActive)) >= 0.75" style="color: orange;">
            <span style="color: black;">Budgeted Expenses: </span>$ {{totalBudgetedExpenses}} / {{(totalBudget * totalMonthsActive)}}
          </h3>
          <h3 *ngIf="!((totalBudgetedExpenses / (totalBudget * totalMonthsActive)) >= 0.75) && (totalBudget * totalMonthsActive) != 0" style="color: green;">
            <span style="color: black;">Budgeted Expenses: </span>$ {{totalBudgetedExpenses}} / {{(totalBudget * totalMonthsActive)}}
          </h3>
          <!-- <h3>Budgeted Expenses: {{totalBudgetedExpenses}} / {{totalBudget}}</h3> -->
          <div>
            <app-pie-chart *ngIf="totalBudgetedExpenses > 0" [data]="pieData"></app-pie-chart>
            <p *ngIf="totalBudgetedExpenses === 0">Graph is empty!</p>
          </div>
        </div>
      </div>
      <!-- <div fxFlex='1'></div> -->
      <div fxFlex='50' class="mainPanels">
        <h2>Budgets:</h2>
        <div class="example-action-buttons">
          <div fxFlex='70'>
            <button mat-raised-button color="primary" id="addButton" (click)="onAddBudgetClicked();">Add New Budget</button>
          </div>
          <button mat-button (click)="expandAllAccordions()">Expand All</button>
          <button mat-button (click)="closeAllAccordions()">Collapse All</button>
        </div>
        <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
        <div *ngIf="!isLoading"> 
          <h3 style="margin-left: 5px; margin-right: 5px;">Budgeted: </h3>
          <div *ngIf="budgets.length === 0">
            <p>No budgets added! Please add a budget using the 'Add New Budget' button above</p>
          </div>
            <mat-accordion #accordion1="matAccordion" class="example-headers-align" multi>
              <div class="budgetList" [ngStyle.lt-md]="{'max-height': '400px', 'overflow-y': 'auto'}" style="margin-bottom: 20px; padding-bottom: 10px">
                <mat-expansion-panel *ngFor="let budget of budgets; let i = index;" style="margin-left: 5px; margin-right: 5px">
                  <mat-expansion-panel-header id="{{'budgetHeader' + i}}">
                    <p fxFlex *ngIf="budget.mainCategory === budget.category3">
                      {{ budget.category }}: {{ budget.category2 }}: <b>{{ budget.category3 }} ({{budgetTableTransactions[i].length}})</b> 
                    </p>
                    <p fxFlex *ngIf="budget.mainCategory === budget.category2">
                      {{ budget.category }}: <b>{{ budget.category2 }} ({{budgetTableTransactions[i].length}})</b> 
                    </p>
                    <p fxFlex *ngIf="budget.mainCategory === budget.category">
                      <b>{{ budget.category }} ({{budgetTableTransactions[i].length}})</b> 
                    </p>
                    <p fxLayoutAlign="end center" style="margin-right: 10px;">
                      <span *ngIf="(budget.total / (budget.amount * totalMonthsActive)) >= 1 || (budget.amount * totalMonthsActive) == 0" style="color: red;">
                        <b>$ {{ budget.total }} / {{ (budget.amount * totalMonthsActive) }}</b>
                      </span>
                      <span *ngIf="!((budget.total / (budget.amount * totalMonthsActive)) >= 1) && (budget.total / (budget.amount * totalMonthsActive)) >= 0.75" style="color: orange;">
                        <b>$ {{ budget.total }} / {{ (budget.amount * totalMonthsActive) }}</b>
                      </span>
                      <span *ngIf="!((budget.total / (budget.amount * totalMonthsActive)) >= 0.75) && (budget.amount * totalMonthsActive) != 0" style="color: green;">
                        <b>$ {{ budget.total }} / {{ (budget.amount * totalMonthsActive) }}</b>
                      </span>
                    </p>
                  </mat-expansion-panel-header>

                  <div *ngIf="budgetTableTransactions[i].length == 0">
                    <p style="margin: auto; text-align: center">There are no transactions to report!</p>
                  </div>
                  <div *ngIf="budgetTableTransactions[i].length > 0">
                    <!-- <div>{{budgetTableTransactions[i]}}</div> 
                    <div>{{budgetTableDataSources[i]}}</div>  -->
                    <div class="example-table-container" style="max-height: 200px; overflow-y: auto;">
                      <table mat-table class="example-table" [dataSource]="budgetTableDataSources[i]">
            
                        <ng-container matColumnDef="amount">
                          <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Amount</b> </th>
                          <td mat-cell *matCellDef="let row">
                            <div *ngIf="row.amount > 0">
                              $ {{-row.amount}} 
                            </div>
                            <div *ngIf="!(row.amount > 0)" style="color: green">
                              $ {{-row.amount}} 
                            </div>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="bankAccountName">
                          <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Bank Account Name</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.bankAccountName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="transactionName">
                          <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Transaction Name</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.transactionName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Category</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Date</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="budgetTableDisplayedColumns; sticky: ['amount', 'bankAccountName', 'category', 'date']"></tr>
                        <tr mat-row *matRowDef="let row; columns: budgetTableDisplayedColumns;"></tr>
                      </table>
                    </div> 
                  </div>
                  
                  <button mat-raised-button style="background-color: grey; color: white;" id="{{'editButton' + i}}" (click)="onEditBudgetClicked(budget, i);">Edit Budget</button>
                  <button mat-raised-button color="warn" style="margin: 10px;" id="{{'deleteButton' + i}}" (click)="onDeleteBudgetClicked(budget);">Delete Budget</button>
              
                </mat-expansion-panel>
              </div>
            </mat-accordion>
            <!-- <mat-divider></mat-divider> -->
            <h3 style="margin-left: 5px; margin-right: 5px;">Not Budgeted: </h3>

            <div style="height: 400px; overflow-y: auto; margin-bottom: 30px; padding-bottom: 20px">
              <div>
                <mat-accordion #accordion2="matAccordion" class="example-headers-align" multi>
                  <mat-expansion-panel style="margin-left: 5px; margin-right: 5px;">
                    <mat-expansion-panel-header>
                      <h4>Income ({{incomeTransactions.length}})</h4>
                    </mat-expansion-panel-header>
                    <div *ngIf="incomeTransactions.length == 0">
                      <p style="margin: auto; text-align: center">There are no income transactions to report!</p>
                    </div>
                    <div *ngIf="incomeTransactions.length > 0">
                      <div class="example-table-container" style="max-height: 200px; overflow-y: auto;">
                        <table mat-table class="example-table" [dataSource]="incomeDataSource">
              
                          <!-- Amount Column -->
                          <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Amount</b> </th>
                            <td mat-cell *matCellDef="let row">
                              <div *ngIf="row.amount > 0">
                                $ {{-row.amount}} 
                              </div>
                              <div *ngIf="!(row.amount > 0)" style="color: green">
                                $ {{-row.amount}} 
                              </div>
                            </td>
                          </ng-container>

                          <!-- Bank Account Column -->
                          <ng-container matColumnDef="bankAccountName">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Bank Account Name</b> </th>
                            <td mat-cell *matCellDef="let row"> {{row.bankAccountName}} </td>
                          </ng-container>

                          <!-- Transaction Column -->
                          <ng-container matColumnDef="transactionName">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Transaction Name</b> </th>
                            <td mat-cell *matCellDef="let row"> {{row.transactionName}} </td>
                          </ng-container>

                          <!-- Category Column -->
                          <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Category</b> </th>
                            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                          </ng-container>

                          <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Date</b> </th>
                            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="incomeDisplayedColumns; sticky: ['amount', 'bankAccountName', 'transactionName', 'date']"></tr>
                          <tr mat-row *matRowDef="let row; columns: incomeDisplayedColumns;"></tr>
                        </table>
                      </div> 
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              
              <div>
                <mat-accordion #accordion3="matAccordion" class="example-headers-align" multi>
                  <mat-expansion-panel style="margin-left: 5px; margin-right: 5px;">
                    <mat-expansion-panel-header>
                      <h4>Untracked Transactions ({{untrackedTransactions.length}})</h4>
                    </mat-expansion-panel-header>
                    <div *ngIf="untrackedTransactions.length == 0">
                      <p style="margin: auto; text-align: center">There are no untracked transactions to report!</p>
                    </div>
                    <div *ngIf="untrackedTransactions.length > 0"> 
                      <div class="example-table-container" style="max-height: 200px; overflow-y: auto;">
                        <table mat-table class="example-table" [dataSource]="untrackedDataSource">
              
                          <!-- Amount Column -->
                          <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Amount</b> </th>
                            <td mat-cell *matCellDef="let row">
                              <div *ngIf="row.amount > 0">
                                $ {{-row.amount}} 
                              </div>
                              <div *ngIf="!(row.amount > 0)" style="color: green">
                                $ {{-row.amount}} 
                              </div>
                            </td>
                          </ng-container>

                          <!-- Bank Account Column -->
                          <ng-container matColumnDef="bankAccountName">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Bank Account Name</b> </th>
                            <td mat-cell *matCellDef="let row"> {{row.bankAccountName}} </td>
                          </ng-container>

                          <!-- Transaction Column -->
                          <ng-container matColumnDef="transactionName">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Transaction Name</b> </th>
                            <td mat-cell *matCellDef="let row"> {{row.transactionName}} </td>
                          </ng-container>

                          <!-- Category Column -->
                          <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Category</b> </th>
                            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                          </ng-container>

                          <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef style="background-color: grey; color: white; margin: auto"> <b>Date</b> </th>
                            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="untrackedDisplayedColumns; sticky: ['amount', 'bankAccountName', 'category', 'date']"></tr>
                          <tr mat-row *matRowDef="let row; columns: untrackedDisplayedColumns;"></tr>
                        </table>
                      </div> 
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

        </div>
      </div>
      <!-- <div fxFlex='1'></div> -->
    </div>
  </div>
  <div *ngIf="userAccountsDetails.accounts.length > 0 && userAccountsDetails.currentAccounts.length == 0 && itemsDetails.validRes == null">
    <p style="text-align: center;">Please select a current account(s) on the home page to view budgets!</p>
  </div>
</div>
<div [ngStyle.lt-md]="{'height': '30px'}"></div>



