.example-action-buttons {
    padding-bottom: 20px;
    // max-height: 600px;
    // overflow: auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.visBox {
    // background-color: grey;
    border:1px solid #000;
    width: 95%;
    padding-top: 71%;
    margin: auto;
    // min-width: 400px;
    // min-height: 300px;
    // max-width: 800px;
    // max-height: 600px;
}

// @media (min-width: 400px) {
//     .visBox {
//         padding-bottom: 0%;
//         min-width: 400px;
//         min-height: 300px;
//         display: block;
//     }
//   }

// .visBox:before {
//     content: "";
//     display: block;
//     padding-top: 25%;
// }

.budgetList {
    max-height: 400px;
    overflow-y: auto;
}

.mainPanels {
    padding-left: 10px;
    padding-right: 10px;
}

#tTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tTable td, #tTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tTable tr:nth-child(even){background-color: #f2f2f2;}

#tTable tr:hover {background-color: #ddd;}

// #customers th {
//     padding-top: 12px;
//     padding-bottom: 12px;
//     text-align: left;
//     background-color: #4CAF50;
//     color: white;
// }

table {
    width: 100%;
}