$createAccount-text-color: primary;

.createAccountLink {
    color: $createAccount-text-color;
    text-decoration: none;
}

.btn {
    background-color: royalblue; 
    color: white;
    margin-top: 10px;
}

#fbicon {
    // background-color:#fff!important; 
    // color:#3b5998!important;
    margin-right: 10px;
}