<span id="moveTop"></span>
<h1 style="text-align: center; color: rgb(95, 124, 255); font-size: 70px;">PayPulse</h1>
<div style="margin: 10px">
  <mat-card style="max-width: 500px; margin: auto; margin-top: 50px;">
    <mat-card-title fxLayoutAlign="center">Log in</mat-card-title>
    <div *ngIf="isLoading">
      <mat-spinner style="margin: auto;"></mat-spinner>
      <p style="text-align: center">{{loadingText}}</p>
    </div>
    <div *ngIf="!isLoading">
      <form style="max-width: 500px;" novalidate [formGroup]="loginForm" #loginform="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
        <p>
          <mat-form-field fxLayoutAlign="center">
            <input matInput formControlName="username" placeholder="Username" type="text" required>
            <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
          </mat-form-field>
        </p>
        <p style="margin-bottom: 0px">
          <mat-form-field fxLayoutAlign="center">
            <input matInput #pswdCheckboxText formControlName="password" placeholder="Password" type="password" required>
            <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
          </mat-form-field>
        </p>
        <div fxLayoutAlign="center" style="margin-bottom: 10px">
          <input type="checkbox" id="passwordCheckbox" (click)="togglePasswordShow()"><span>Show Password</span>
        </div>
        <div fxLayoutAlign="center">
          <button style="background-color:lightgrey; margin: auto;" type="submit"
           mat-button [disabled]="loginForm.invalid">Log in</button>
        </div>
        <div fxLayoutAlign="center">
          <button mat-button type="button" class="btn" (click)="facebookLogin();"><i id="fbicon" class="fa fa-facebook fa-lg"></i>Login with Facebook</button>
        </div>
        <p>
          <span fxFlex fxLayoutAlign="center"><a class="createAccountLink" routerLink='/createAccount'>Need to create an account?</a></span>
        </p>
      </form>
    </div>
  </mat-card>
</div>
<div style="margin: 10px; margin-top: 30px; ">
  <mat-expansion-panel style="margin: auto; max-width: 550px;">
    <mat-expansion-panel-header>
      <p style="text-align: center; margin: auto">Interested in hiring/learning about the developer that made this?</p>
    </mat-expansion-panel-header>
    <mat-card style="text-align: center; margin: auto;">
      <p> Hello, and welcome to PayPulse! </p>
  
      <p> PayPulse is a web app I built using the MEAN stack and is designed to help users stay on track of their budget goals. 
          I have been working on this project in my spare time since July 2020, and I am currently coding up the finishing touches 
          with the goal to be "done" with development on the project by the end of 2020. I was inspired to build this project after 
          struggling with my own budgeting, and while the process has mainly been a learning experience meant to enrich my development
          skills across the full stack, it has been very fun and rewarding in other ways as well. I plan to continue expanding my
          knowledge of full stack development in 2021 through a new project using React! </p>
      
      <p> Additionally, I am currently looking for a new entry-level Software Engineering role in the SF Bay Area! If you'd like to reach 
          regarding a prospective role, feel free to contact me through any of the following methods: </p> 
  
      <div> 
        <p style="margin-bottom: 0px;"><b>Email: </b>alexshwilliamson@gmail.com</p>
        <p style="margin-top: 0px; margin-bottom: 0px;"><b>Mobile: </b>(408) 480-5254</p>
        <p style="margin-top: 0px; margin-bottom: 0px;"><b>LinkedIn: </b> <a href="https://www.linkedin.com/in/alexshwilliamson/">https://www.linkedin.com/in/alexshwilliamson/</a></p>
        <p style="margin-top: 0px;"><b>Porfolio Website: </b> <a href="https://alswilli.wixsite.com/mypersonalwebsite">https://alswilli.wixsite.com/mypersonalwebsite</a></p>
      </div> 
  
      <p> Thanks for stopping by!</p>
      
      <p> - Alex Williamson</p>
    </mat-card>
  </mat-expansion-panel>
</div>
<!-- <div style="height: window.screen.availHeight;"></div> -->





