<span id="moveTop"></span>
<h1 style="text-align: center; color: rgb(95, 124, 255); font-size: 70px;">PayPulse</h1>
<div style="margin: 10px">
  <mat-card style="max-width: 500px; margin: auto; margin-top: 50px;">
    <mat-card-title fxLayoutAlign="center">Log in</mat-card-title>
    <div *ngIf="isLoading">
      <mat-spinner style="margin: auto;"></mat-spinner>
      <p style="text-align: center">{{loadingText}}</p>
    </div>
    <div *ngIf="!isLoading">
      <form style="max-width: 500px;" novalidate [formGroup]="loginForm" #loginform="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
        <p>
          <mat-form-field fxLayoutAlign="center">
            <input matInput formControlName="username" placeholder="Username" type="text" required>
            <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field fxLayoutAlign="center">
            <input matInput formControlName="password" placeholder="Password" type="text" required>
            <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
          </mat-form-field>
        </p>
        <div fxLayoutAlign="center">
          <button style="background-color:lightgrey; margin: auto;" type="submit"
           mat-button [disabled]="loginForm.invalid">Log in</button>
        </div>
        <div fxLayoutAlign="center">
          <button mat-button type="button" class="btn" (click)="facebookLogin();"><i id="fbicon" class="fa fa-facebook fa-lg"></i>Login with Facebook</button>
        </div>
        <p>
          <span fxFlex fxLayoutAlign="center"><a class="createAccountLink" routerLink='/createAccount'>Need to create an account?</a></span>
        </p>
      </form>
    </div>
  </mat-card>
</div>
<!-- <div style="height: window.screen.availHeight;"></div> -->





