<span id="moveTop"></span>
<div style="height: 75px;"></div>
<!-- <h2 style="margin: 10px;"></h2> -->

<!-- <h2 style="margin: 10px;">Recently Completed Goals:</h2>
<div class="recentlyCompletedGoals">
  <div *ngFor="let goal of recentlyCompletedGoals">
    <mat-card class="recentlyCompletedGoalsCard">
      <mat-card-header>
        <h3>{{goal.goalName}}</h3>
      </mat-card-header>
      <mat-card-content>
        <p>Description and image go here</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<h2 style="margin: 10px;">Monthly Goals:</h2>
<div class="monthlyGoals">
  <div *ngFor="let goal of monthlyGoals">
    <mat-card class="monthlyGoalsCard">
      <mat-card-header>
        <h3>{{goal.goalName}}</h3>
      </mat-card-header>
      <mat-card-content>
        <p>Description and image go here</p>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<!-- <h2 style="margin: 10px;">All Goals:</h2>
<div class="allGoals">
  <div *ngFor="let goal of allGoals">
    <mat-card class="allGoalsCard">
      <mat-card-header>
        <h3>{{goal.goalName}}</h3>
      </mat-card-header>
      <mat-card-content>
        <p>Description and image go here</p>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<div *ngIf="admin">
  <p>You are an admin!</p>
  <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
  <mat-card>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Goal Name">
        <mat-error *ngIf="form.get('name').invalid">Please enter a goal name.</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Select Image</button>
        <input type="file" #filePicker (change)="onImageSelected($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.name">
      </div>
      <mat-form-field>
        <textarea matInput rows="4" formControlName="description" placeholder="Goal Description"></textarea>
        <mat-error *ngIf="form.get('description').invalid">Please enter a goal description.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="onSaveGoal()">Save Goal</button>
    </form>
  </mat-card>
</div>

<div style="max-width: 1400px; margin: auto">
  <p>NOTE: Goals functionality is currently still under construction!</p>
  <h2 style="margin: 10px;">Goals:</h2>
  <mat-spinner *ngIf="initialLoad" style="margin: auto;"></mat-spinner>
  <div #box>
    <mat-grid-list [cols]="columns" rowHeight="300px" 
    width="100%"
    (window:resize)="onBoxResize($event)">
      <mat-grid-tile
        *ngFor="let matchedGoal of matchedGoals; let i = index"
        style="margin: auto;"
      >
        <mat-spinner *ngIf="isLoading" style="margin: auto;"></mat-spinner>
        <div *ngIf="!isLoading" style="height: 100%; width: 100%" (click)="openGoals(i)">
          <div class="goal-image" *ngIf="matchedGoal[0].goalProgress != 100">
            <img [src]="matchedGoal[1].imagePath" [alt]="matchedGoal[1].goalName" 
            matTooltip="{{matchedGoal[1].goalDescription}}" matTooltipPosition="above">
          </div>
          <div class="goal-image-unlocked" *ngIf="matchedGoal[0].goalProgress == 100 && !matchedGoal.new">
            <img [src]="matchedGoal[1].imagePath" [alt]="matchedGoal[1].goalName" 
            matTooltip="{{matchedGoal[1].goalDescription}}" matTooltipPosition="above">
          </div>
          <div class="goal-image-unlocked-new" *ngIf="matchedGoal[0].goalProgress == 100 && matchedGoal.new">
            <img [src]="matchedGoal[1].imagePath" [alt]="matchedGoal[1].goalName" 
            matTooltip="(NEW UNLOCK) {{matchedGoal[1].goalDescription}}" matTooltipPosition="above">
          </div>
          <mat-progress-bar mode="determinate" [value]="matchedGoal[0].goalProgress" style="padding: 3px; max-width: 70%; margin: auto"></mat-progress-bar>
          <div style="text-align: center;">
            <span style="text-align: center;">{{ matchedGoal[0].goalProgress }} %</span>
          </div>
          <h3 style="text-align: center;">{{matchedGoal[1].goalName}}</h3>
          <!-- <p *ngIf="matchedGoal[0].goalProgress != 100">{{matchedGoal[1].goalName}}</p> -->
        </div>
        <!-- <mat-card>
          <mat-card-header>
            <h3>{{goal.goalName}}</h3>
          </mat-card-header>
          <mat-card-content>
            <div class="goal-image">
              <img [src]="goal.imagePath" [alt]="goal.goalName">
            </div>
            <p>{{goal.goalDescription}}</p>
          </mat-card-content>
        </mat-card> -->
      </mat-grid-tile>
    </mat-grid-list>
    <!-- <mat-grid-list *ngIf="lessThanMedium" cols="2" rowHeight="200px">
      <mat-grid-tile
        *ngFor="let goal of allGoals"
        [colspan]="1"
        [rowspan]="1"
      >
        <mat-card>
          <mat-card-header>
            <h3>{{goal.goalName}}</h3>
          </mat-card-header>
          <mat-card-content>
            <p>Description and image go here</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> -->
  </div>
</div>





