.monthlyGoals {
    display: flex;
    overflow-x: auto;
    margin: 10px;
    // max-width: 10%;
    // overflow-x: scroll;
}

.monthlyGoalsCard {
    // display: flex;
    min-width: 100px;
    // overflow-x: scroll;
}

.recentlyCompletedGoals {
    display: flex;
    overflow-x: auto;
    margin: 10px;
}

.recentlyCompletedGoalsCard {
    min-width: 100px;
}

.allGoals {
    display: flex;
    overflow-x: auto;
    margin: 10px;
}

.allGoalsCard {
    min-width: 100px;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

mat-form-field,
textarea {
    width: 100%;
}

.goal-image {
    // width: 100%;
    // height: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.1;
}

.goal-image img {
    // width: 100%;
    // height: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.goal-image-unlocked {
    // width: 100%;
    // height: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.goal-image-unlocked img {
    // width: 100%;
    // height: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


// mat-grid-tile {
//     overflow-y: auto;
// }