.monthlyGoals {
    display: flex;
    overflow-x: auto;
    margin: 10px;
    // max-width: 10%;
    // overflow-x: scroll;
}

.monthlyGoalsCard {
    // display: flex;
    min-width: 100px;
    // overflow-x: scroll;
}

.recentlyCompletedGoals {
    display: flex;
    overflow-x: auto;
    margin: 10px;
}

.recentlyCompletedGoalsCard {
    min-width: 100px;
}

.allGoals {
    display: flex;
    overflow-x: auto;
    margin: 10px;
}

.allGoalsCard {
    min-width: 100px;
}