table {
  width: 100%;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.toggleHeader {
  background-color: grey;
  color: white;
  margin-bottom: 0px;
  border: solid black;
  border-bottom: 0px;
  border-width: 1px;
}

::ng-deep .mat-sort-header-arrow {
  // color: #fff;
  color: #fff
}