<span id="moveTop"></span>
<div style="height: 75px;"></div>
<div *ngIf="userAccountsDetails.accounts.length === 0">
  <p style="text-align: center;">No accounts added! Please add an account to see transactions</p>
</div>
<div style="max-width: 1400px; margin: auto" [ngStyle.lt-md]="{'margin': 'auto', 'max-width': '693px'}">
  <div *ngIf="userAccountsDetails.accounts.length > 0 && userAccountsDetails.currentAccounts.length > 0" style="margin: 10px;">
    <h2>Bank Account(s) Selected: <p style="color: rgb(255, 0, 64); display: inline;">{{activeCurrentsLength}} / {{currentAccounts.length}}</p></h2>
    <h3>Sub Account(s) Selected: <p style="color: rgb(76, 0, 255); display: inline;">{{activeSubsLength}} / {{subAccountsLength}}</p></h3>
      <h3>Current Balance: <p style="color: green; display: inline;">$ {{totalCurrent}}</p></h3>
  
      <mat-form-field *ngIf="!errMess">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Credit Card" #input>
      </mat-form-field>
  </div>
  <div>
    <div *ngIf="userAccountsDetails.accounts.length > 0 && userAccountsDetails.currentAccounts.length > 0" fxLayout="row" 
      fxLayout.lt-md="column">
      <div fxFlex.gt-sm='20' style="margin: 10px;">
        <span class="toggleHeader">Bank Accounts</span>
        <div style="border-style: solid; border-width: 1px;" class="selectionBox" [ngStyle.lt-md]=
        "{'height': '200px'}">
          <mat-selection-list>
            <!-- <mat-list-option class="mat-primary" *ngFor="let list of listValue" (click)="onSubAccountChanged(list);" 
            [selected]="preSelection.indexOf(list) > -1" [value]="list">
              <div>
                {{list}}
              </div>
            </mat-list-option> -->
          </mat-selection-list>
    
          <!-- (change)="checklistSelection.toggle(node);" -->
          <!-- [indeterminate]="descendantsPartiallySelected(node)" -->
  
          <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle style="padding-left: 20px"> 
              <button mat-icon-button disabled></button>
              <mat-checkbox class="checklist-leaf-node"
                            [checked]="checklistSelection.isSelected(node)"
                    
                            (change)="todoItemSelectionToggle(node)" 
                            color="primary" style="overflow-x: auto; overflow-y: hidden" [disabled]="isLoading">{{node.item}}</mat-checkbox>
            </mat-tree-node>
          
            <!-- <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-form-field>
                <input matInput #itemValue placeholder="New item...">
              </mat-form-field>
              <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
            </mat-tree-node> -->
          
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.filename">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-checkbox [checked]="descendantsAllSelected(node)"
                            
                            (change)="todoItemSelectionToggle(node)" color="primary" [disabled]="isLoading">{{node.item}}</mat-checkbox>
              <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button> -->
            </mat-tree-node>
          </mat-tree>
    
        </div>
      </div>
      <div fxFlex.gt-sm='80' style="margin: 10px;">
        <div [hidden]="errMess" class="example-container mat-elevation-z8" style="height: 100%;">
  
          <div class="example-loading-shade"
              *ngIf="isLoading">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>
  
          <!-- <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner> -->
          <div class="example-table-container" style="height: 500px; overflow-y: auto;">
            <table mat-table class="example-table" [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">
  
              <!-- Sub Account Column -->
              <ng-container matColumnDef="bankAccountName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: white;"> <b>Bank Account Name</b> </th>
                <!-- <div *ngIf="!isLoading">
                  <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
                </div> -->
                <td mat-cell *matCellDef="let row"> {{row.bankAccountName}} </td>
              </ng-container>
        
              <!-- Sub Account Column -->
              <ng-container matColumnDef="subAccountName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: white;"> <b>Sub Account Name</b> </th>
                <!-- <div *ngIf="!isLoading">
                  <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
                </div> -->
                <td mat-cell *matCellDef="let row"> {{row.subAccountName}} </td>
              </ng-container>
          
              <!-- Amount Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: white;"> <b>Amount</b> </th>
                <!-- <div *ngIf="!isLoading">
                  <td mat-cell *matCellDef="let row"> $ {{row.amount}} </td>
                </div> -->
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="row.amount > 0">
                    $ {{-row.amount}} 
                  </div>
                  <div *ngIf="!(row.amount > 0)" style="color: green">
                    $ {{-row.amount}} 
                  </div>
                </td>
              </ng-container>
          
              <!-- Transaction Column -->
              <ng-container matColumnDef="transactionName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: white;"> <b>Transaction Name</b> </th>
                <!-- <div *ngIf="!isLoading">
                  <td mat-cell *matCellDef="let row"> {{row.transactionName}} </td>
                </div> -->
                <td mat-cell *matCellDef="let row"> {{row.transactionName}} </td>
              </ng-container>
          
              <!-- Category Column -->
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: white;"> <b>Category</b> </th>
                <!-- <div *ngIf="!isLoading">
                  <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                </div> -->
                <td mat-cell *matCellDef="let row"> {{row.category}} </td>
              </ng-container>
          
              <!-- Date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: white;"> <b>Date</b> </th>
                <!-- <div *ngIf="!isLoading">
                  <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </div> -->
                <td mat-cell *matCellDef="let row"> {{row.date}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: ['bankAccountName', 'subAccountName', 'amount', 'transactionName', 'category', 'date']"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          </div>  
          <!-- <div *ngIf="isLoading" style="margin: auto; height: 500px;">
            <mat-spinner style="margin: auto;"></mat-spinner>
          </div> -->
          <!-- <div *ngIf="isLoading" style="height: 500px;"></div> -->
          <mat-paginator [pageIndex]="adjustedPage" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
        </div>
        <!-- <mat-paginator [pageIndex]="adjustedPage" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator> -->
        
        <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userAccountsDetails.accounts.length > 0 && userAccountsDetails.currentAccounts.length == 0">
    <p style="text-align: center;">Please select a current account(s) on the home page to view transactions!</p>
  </div>
</div>
<div [ngStyle.lt-md]="{'height': '30px'}"></div>


