<div fxFlex fxLayout="row">
  <div fxFlex='1'></div> 
  <div fxFlex='18'>
    <h4 matSubheader class="toggleHeader">Accounts</h4>
    <div style="border-style: solid; border-width: 1px;">
      <mat-selection-list *ngIf="!firstLoad">
        <mat-list-option class="mat-primary" *ngFor="let list of listValue" (click)="onSubAccountChanged(list);" 
        [selected]="preSelection.indexOf(list) > -1" [value]="list">
          <div>
            {{list}}
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div fxFlex='1'></div> 
  <div fxFlex='79'>
    <h2>Account Selected: <p style="color: rgb(76, 0, 255); display: inline;">{{subAccount}}</p></h2>
    <h4>Current Balance: <p style="color: green; display: inline;">$ {{balancesCurrentDict[subAccount]}}</p></h4>

    <mat-form-field *ngIf="!errMess">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Credit Card" #input>
    </mat-form-field>
    
    <div [hidden]="errMess" class="mat-elevation-z8">
      <!-- <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner> -->
      <div style="max-height: 650px; overflow: auto;">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    
          <!-- Account Column -->
          <ng-container matColumnDef="accountName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: black;"> <b>Account Name</b> </th>
            <!-- <div *ngIf="!isLoading">
              <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
            </div> -->
            <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
          </ng-container>
      
          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: black;"> <b>Amount</b> </th>
            <!-- <div *ngIf="!isLoading">
              <td mat-cell *matCellDef="let row"> $ {{row.amount}} </td>
            </div> -->
            <td mat-cell *matCellDef="let row"> $ {{row.amount}} </td>
          </ng-container>
      
          <!-- Transaction Column -->
          <ng-container matColumnDef="transactionName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: black;"> <b>Transaction Name</b> </th>
            <!-- <div *ngIf="!isLoading">
              <td mat-cell *matCellDef="let row"> {{row.transactionName}} </td>
            </div> -->
            <td mat-cell *matCellDef="let row"> {{row.transactionName}} </td>
          </ng-container>
      
          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: black;"> <b>Category</b> </th>
            <!-- <div *ngIf="!isLoading">
              <td mat-cell *matCellDef="let row"> {{row.category}} </td>
            </div> -->
            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
          </ng-container>
      
          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: grey; color: black;"> <b>Date</b> </th>
            <!-- <div *ngIf="!isLoading">
              <td mat-cell *matCellDef="let row"> {{row.date}} </td>
            </div> -->
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: ['accountName', 'amount', 'transactionName', 'category', 'date']"></tr>
          <tr mat-row [hidden]="isLoading" *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>  
      <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
      <mat-paginator [pageIndex]="adjustedPage" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
    </div>
    <!-- <mat-paginator [pageIndex]="adjustedPage" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator> -->
    
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>
  <div fxFlex='1'></div> 
</div>



