$border-main-color: black;
$manage-button-color: grey;
$manage-button-text-color: white;

.summaryListItem {
    border-style: solid;
    border-color: $border-main-color;
}

.manageButton {
    background-color: $manage-button-color;
    color: $manage-button-text-color;
    // color: $border-main-color;
    // text-decoration: none;
}

.mainCardTitle {
    font-weight: bold;
    font-size: 20px;
}

.card {
    margin: 10px;
}

.addAccountDiv {
    margin: 10px;
}

.addDeleteButtons {
    margin: 10px;
}

// :host {
//     ::ng-deep.mat-pseudo-checkbox{
//       display: none !important;
//     }
// }

#my-div {
    background-color: #f00;
    width: 100%;
    height: 50px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.mat-icon {
    color: #eb6834;
}

.mat-icon:hover {
    color: green;
    cursor: pointer;
}
