<div class="addAccountDiv">
  <!-- <form [formGroup]="clientForm"> -->
  <form>
    <h1>Linked Accounts:</h1>
  
    <!-- <pre>
      {{ clientForm.get('myOtherControl').value }}
    </pre> -->
  
    <!-- <mat-selection-list formControlName="myOtherControl"> -->
    <mat-selection-list>
      <mat-list-option class="mat-primary" *ngFor="let list of listValue" (click)="onAccountChanged(list);" 
      [selected]="preSelection.indexOf(list) > -1" [value]="list" [disabled]="removeAccounts">
        <div fxFlex fxLayout="row">
          <div *ngIf="removeAccounts">
            <mat-icon class="trashIcon" (click)="onDeleteIconClicked(list);">delete</mat-icon> 
          </div>
          <div style="vertical-align: bottom; padding: 3px;">
            {{list}}
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </form>
  <!-- <p>Bank Account Selected: {{currentAccountName}}</p> -->
  <div>
    <button mat-raised-button class="addDeleteButtons" routerLink='/linkAccount' color="primary">Add Account</button>
    <button mat-raised-button id="removeAccountButton" class="addDeleteButtons" color="warn" (click)="onRemoveAccountClicked();">Remove Accounts</button>
  </div>
</div>

<div *ngIf="listValue.length === 0">
  <p>No accounts added! Please add an account using the 'Add Account' button above</p>
</div>

<div *ngIf="listValue.length > 0">
  <mat-card class="card" *ngFor="let component of majorComponents">
    <mat-card-header>
      <mat-card-title class="mainCardTitle"> {{component.name}} </mat-card-title>
      <mat-card-subtitle> {{component.description}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center">
      <mat-card fxFlex *ngFor="let card of component.cards">
        <mat-card-header>
          <mat-card-title> {{card.name}} </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">
          <div *ngIf="component.name === 'Transactions' && card.name === 'Recent Transactions' && !errMess">
            <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
            <div *ngIf="!isLoading"> 
              <p *ngFor="let recentData of recentTransactions">
                <span><b>Amount:</b> {{recentData.amount}} </span>
                <span><b>Transaction Name:</b> {{recentData.transactionName}} </span>
                <span><b>Category:</b> {{recentData.category}} </span>
                <span><b>Date:</b> {{recentData.date}} </span>
              </p>
            </div>
          </div>
          <div *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errMess}}</h4>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="manageButton" routerLink='/transactions'>Manage {{component.name}}</button>
    </mat-card-actions>
  </mat-card>
</div>

