.icon {
    font-size: 80px;
    width: 100%;
}

.leftIconDiv {
    height: 100%;
    width: 80px;
    // background-color: grey;
}

.rightIconDiv {
    height: 100%;
    width: 80px;
    // background-color: grey;
}