<div>
  <h1 style="text-align: center;">Newly Completed Goals!</h1>
  <div *ngIf="!isLoading" fxLayout="row" style="height: 100%; width: 100%">
    <mat-dialog-actions style="padding: 0px; margin-bottom: 0px; margin-right: 20px;">
      <button mat-button class="leftIconDiv" (click)="onLeftIconClicked();" [disabled]="farthestLeft">
        <mat-icon class="icon">keyboard_arrow_left</mat-icon>
      </button>
    </mat-dialog-actions>
    <div *ngFor="let goal of newlyUnlockedGoals">
      <div *ngIf="goal.show">
        <div class="goal-image-unlocked">
          <img [src]="goal[1].imagePath" [alt]="goal[1].goalName">
        </div>
        <mat-progress-bar mode="determinate" [value]="goal[0].goalProgress"></mat-progress-bar>
        <div style="text-align: center;">
          <span style="text-align: center;">{{ goal[0].goalProgress }} %</span>
        </div>
        <h3 style="text-align: center;">{{goal[1].goalName}}</h3>
        <p style="text-align: center;">{{goal[1].goalDescription}}</p>
        <p style="text-align: center;"> Number of Times Achieved: <b>{{goal[0].numTimesAchieved}}</b></p>
        <p style="text-align: center;"> Date First Achieved: <b>{{goal[0].dateFirstAchieved}}</b></p>
      </div>
    </div>
    <mat-dialog-actions style="padding: 0px; margin-bottom: 0px; margin-left: 20px;">
      <button mat-button class="rightIconDiv" (click)="onRightIconClicked();" [disabled]="farthestRight">
        <mat-icon class="icon">keyboard_arrow_right</mat-icon>
      </button>
    </mat-dialog-actions>
  </div>
</div>


<!-- <mat-dialog-content class="mat-typography">
  <p>Are you sure you want to delete your <b>{{data.budget.mainCategory}}</b> budget?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button class="mat-warn" (click)="onDeleteConfirmed(data.budget._id, data.budget.accountId);" cdkFocusInitial>Delete Budget</button>
</mat-dialog-actions> -->
